@import "../../../../../../../../qtiItemPic/views/js/picCreator/dev/studentToolbar/runtime/scss/inc/sts-bootstrap";

$picName : parccColorContrast;

$colorBgBlackOnCream: #fbf389;
$colorFgBlackOnCream: rgb(0,0,0);

$colorBgBlackOnLightBlue: #6cb3c9;
$colorFgBlackOnLightBlue: rgb(0,0,0);

$colorBgBlackOnLightMagenta: #e243e4;
$colorFgBlackOnLightMagenta: rgb(0,0,0);

$colorBgGreyOnGreen: #008000;
$colorFgGreyOnGreen: rgb(221,221,221);

$colorBgWhiteOnBlack: #181818;
$colorFgWhiteOnBlack: rgb(255,255,255);

$colorBgLightBlueOnDarkBlue: #020251;
$colorFgLightBlueOnDarkBlue: rgb(159,208,224);

.sts-scope {
    .sts-#{$picName} {
        .sts-launch-button {
            &.sts-activated {
                border-style:inset;
            }
        }
    }

    .sts-#{$picName}-menu-container {
        &.sts-hidden-container {
            display: none;
        }
        .sts-menu {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .sts-menu-item {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;
        }
        .sts-menu-item-selected {
            background-color: whiten($stsTitleBar, .2);
            color: $stsTextHighlight;
        }
        .sts-menu-item:hover {
            background-color: $stsTitleBar;
            color: $stsTextHighlight;
        }

        .sts-menu-item-black-on-cream.sts-menu-item-selected {
            background-color: whiten($colorBgBlackOnCream, .2);
            color: $colorFgBlackOnCream;
        }
        .sts-menu-item-black-on-cream.sts-menu-item:hover {
            background-color: $colorBgBlackOnCream;
            color: $colorFgBlackOnCream;
        }

        .sts-menu-item-black-on-lightblue.sts-menu-item-selected {
            background-color: whiten($colorBgBlackOnLightBlue, .2);
            color: $colorFgBlackOnLightBlue;
        }
        .sts-menu-item-black-on-lightblue.sts-menu-item:hover {
            background-color: $colorBgBlackOnLightBlue;
            color: $colorFgBlackOnLightBlue;
        }

        .sts-menu-item-black-on-lightmagenta.sts-menu-item-selected {
            background-color: whiten($colorBgBlackOnLightMagenta, .2);
            color: $colorFgBlackOnLightMagenta;
        }
        .sts-menu-item-black-on-lightmagenta.sts-menu-item:hover {
            background-color: $colorBgBlackOnLightMagenta;
            color: $colorFgBlackOnLightMagenta;
        }

        .sts-menu-item-grey-on-green.sts-menu-item-selected {
            background-color: whiten($colorBgGreyOnGreen, .2);
            color: $colorFgGreyOnGreen;
        }
        .sts-menu-item-grey-on-green.sts-menu-item:hover {
            background-color: $colorBgGreyOnGreen;
            color: $colorFgGreyOnGreen;
        }

        .sts-menu-item-lightblue-on-darkblue.sts-menu-item-selected {
            background-color: whiten($colorBgLightBlueOnDarkBlue, .2);
            color: $colorFgLightBlueOnDarkBlue;
        }
        .sts-menu-item-lightblue-on-darkblue.sts-menu-item:hover {
            background-color: $colorBgLightBlueOnDarkBlue;
            color: $colorFgLightBlueOnDarkBlue;
        }

        .sts-menu-item-white-on-black.sts-menu-item-selected {
            background-color: whiten($colorBgWhiteOnBlack, .2);
            color: $colorFgWhiteOnBlack;
        }
        .sts-menu-item-white-on-black.sts-menu-item:hover {
            background-color: $colorBgWhiteOnBlack;
            color: $colorFgWhiteOnBlack
        }

        .sts-menu-item-color {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            line-height: 1.8rem;
            text-align: center;
        }
        .sts-menu-item-label {
            @include font-size(14);
            line-height: 2;
            padding: 0 6px;
        }

        @include simple-border();
        @include border-radius(1);
        color: $stsTextColor;
        background: $stsCanvas;
        overflow: auto;
        padding: 0;

        position: absolute;
        top: 64px;
    }
}

