#sts-parccEliminateAnswerChoices .sts-launch-button.active {
    border-style:inset;
}
.eliminated-choice-wrap {
    cursor: auto !important;
}
.item-editor-item .eliminated-choice-wrap {
    border-top : none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}
.choice-eliminating .qti-choice:hover {
    text-decoration: line-through;
    background: rgba(186, 18, 43, 0.2) !important;
}
.eliminated-choice-wrap {
    cursor: auto !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    left: initial;
    background: transparent;
}

.eliminated-choice .label-content div {
    position: relative;
    text-decoration: line-through;
    text-decoration: none;
    display: inline;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAIAAADdv/LVAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAASSURBVHjaYvrPwMDEAMEAAQYACzEBBlU9CW8AAAAASUVORK5CYII=');
    background-repeat: repeat-x;
    background-position: center;
}
.eliminated-choice .label-content .qti-block p {
   display: inline-block;
}
.eliminated-choice .real-label {
    visibility: hidden;
}
.eliminated-choice .label-box {
    color: #222222; 
}
.eliminated-choice .pseudo-label-box{
    opacity: 0.9;
}
.qti-item.runtime .block-listing>div.eliminated-choice-wrap:hover{
    background: rgba(186, 18, 43, 0.2) !important;
    cursor: auto !important;
}