.sts-scope .sts-parccProtractor-container {
  transform-origin: 184px 184px;
  transform: rotate(0deg); }
  .sts-scope .sts-parccProtractor-container .sts-title-bar {
    display: none !important; }
  .sts-scope .sts-parccProtractor-container .sts-content {
    border: none !important;
    padding: 0 !important; }
  .sts-scope .sts-parccProtractor-container [class*=" sts-handle-"]:not(.sts-handle-move), .sts-scope .sts-parccProtractor-container [class^="sts-handle-"]:not(.sts-handle-move) {
    display: block !important; }
  .sts-scope .sts-parccProtractor-container .sts-handle-rotate-r, .sts-scope .sts-parccProtractor-container .sts-handle-rotate-l {
    margin-top: 0;
    top: 165px; }

/*# sourceMappingURL=protractor.css.map */
