@import "../../../../../../../../qtiItemPic/views/js/picCreator/dev/studentToolbar/runtime/scss/inc/sts-bootstrap";

.sts-scope {
    .sts-parccProtractor-container {
        transform-origin: 184px 184px;
        transform: rotate(0deg);
        .sts-title-bar {
            display:none !important;
        }
        .sts-content {
            border: none !important;
            padding: 0 !important;
        }
        [class*=" sts-handle-"], [class^="sts-handle-"] {
            &:not(.sts-handle-move) {
                display:block !important;
            }
        }
        .sts-handle-rotate-r, .sts-handle-rotate-l {
            margin-top: 0;
            top: 165px;
        }
    }
}
