@charset "UTF-8";.tao-xml-editor{position:relative}.tao-xml-editor .ace_editor.tao-ace-editor{position:absolute;top:0;right:0;bottom:0;left:0}.tao-xml-editor .ace_editor.tao-ace-editor .ace_layer div{white-space:pre}
/*# sourceMappingURL=editor.css.map */
